<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home&nbsp;&nbsp;</a></li>
                @await Component.InvokeAsync("CategoryMenu")
                <li><a asp-controller="Contact" asp-action="Index">Contact&nbsp;&nbsp;</a></li>
                @await Component.InvokeAsync(nameof(BethanyPieShop.Controllers.ShoppingCartSummary))
                <partial name="_LoginPartial" />

            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-3">
                <p class="lead">
                    <img class="img-responsive" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" />
                </p>
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required:false)
</body>
</html>
